
.icon-comment:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e80d'; } /* '' */
.icon-videocam:before { content: '\e80c'; } /* '' */
.icon-camera:before { content: '\e80b'; } /* '' */
.icon-tag:before { content: '\e813'; } /* '' */
.icon-print:before { content: '\e809'; } /* '' */
.icon-trash:before { content: '\e819'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-play:before { content: '\e811'; } /* '' */
.icon-twitter:before { content: '\e81a'; } /* '' */
.icon-find:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e816'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-dropmenu:before { content: '\e814'; } /* '' */
.icon-share:before { content: '\e815'; } /* '' */
.icon-logout:before { content: '\e817'; } /* '' */
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-link:before { content: '\e802'; } /* '' */
.icon-resize-full:before { content: '\e810'; } /* '' */
.icon-list:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-location:before { content: '\e80a'; } /* '' */
.icon-youtube:before { content: '\e81c'; } /* '' */
.icon-vimeo:before { content: '\e81b'; } /* '' */
.icon-instagram:before { content: '\e812'; } /* '' */
.icon-pencil:before { content: '\e818'; } /* '' */