---
title: Tanlinell CSS Framework
---

<h1> Welcome to the {{{ uppercase site.title }}} </h1>
<p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, ipsam, quam non temporibus illo nemo quis libero omnis nostrum minima doloremque minus perferendis dolor aspernatur laboriosam aut amet laborum sunt!	 </p>
