
// We need to revert these for Google maps cos else it breaks!
%img--no-max,
.img--no-max { 
	max-width: none; 
}
.no-maximages img { max-width: none; }
#googlemap img, object, embed { max-width: none; }
#map_canvas embed { max-width: none; }
#map_canvas img { max-width: none; }
#map_canvas object { max-width: none; }
.anystretch img { max-width: none;}
