// ==========================================================================
// CONTAINERS
//
// Description: standard structures for dividing pages into "sections"
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.container {
	width: $containerWidth;
	margin: 0 auto;	
	display: block;
	@include clearfix;
}

// ==========================================================================
// # REDUCED
// ==========================================================================

.container--reduced {
	@include respond-to($mobileBreak) {
		width: $containerWidth/2;
	}
}

// ==========================================================================
// # PADDED
// ==========================================================================

.container--padded {
	padding-top: $baseLineHeight*1.5;
	padding-bottom: $baseLineHeight*1.5;

		> :last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
}

// ==========================================================================
// # EXTENDED
// ==========================================================================

.container--extended,
.container--extend {
	width: auto;
	@include clearfix;
}








