// ==========================================================================
// TYPOGRAPHY
//
// Description: base typography styles to apply globally
// ==========================================================================

// ==========================================================================
// GLOBAL
// ==========================================================================

body {
	font-family: $baseFontFamily;
	@include rem(font-size, $baseFontSize);
	line-height: $baseLineHeight;
	color: $grayDark;
}


// ==========================================================================
// PARAGRAPHS
// ==========================================================================

p {
	margin: 0 0 $baseLineHeight;
}

// ==========================================================================
// LINKS
// ==========================================================================

a {
	color: $linkColor;
}

a:hover,
a:focus {
	color: $linkColorHover;	
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active { 
	outline: none; 
}


// ==========================================================================
// LISTS
// ==========================================================================

// Standard List
// ==========================================================================

ul, ol {
  	padding: 0;
  	margin: 0 0 $baseLineHeight 25px;
}

// Nested lists
ul ul,
ul ol,
ol ol,
ol ul {
  	margin-bottom: 0;
}

ul {
  	list-style: disc;
}

ol {
  	list-style: decimal;
}

li {
  	line-height: $baseLineHeight;
}


// Definition List
// ==========================================================================

dd {
	margin-left: 0;
}


// ==========================================================================
// ADDRESS
// ==========================================================================

address {
	font-style: normal;
	margin-bottom: $baseLineHeight;
}


// ==========================================================================
// IMAGES
// ==========================================================================

// Set things up for responsive
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
