// ALERTS
//
// Standard alert styles with variations
//
// Styleguide 7.

// Base
//
// Default styling for all types of Alert
// 
// .alert--success          - "success" style
// .alert--error            - "error" style
// .alert--info             - "info" style
//
// Markup:
// <p class="alert {$modifiers}">
//   I'm warning you son, get off my land
// </p>
//
// Styleguide 7.1

.alert {
    padding: em(8px) em(14px);
    margin-bottom: $base-line-height;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: $warningBackground;
    border: 1px solid $warningBorder;
    border-radius: 4px;
    color: $warningText;
}

.alert-heading {
    color: inherit;
}

.alert :last-child {
    margin-bottom: 0;
}

// Adjust close link position
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: $base-line-height;
}

// SUCCESS
// ==========================================================================

.alert--success {
    background-color: $successBackground;
    border-color: $successBorder;  
    color: $successText;
}

// ERROR
// ==========================================================================
.alert--danger,
.alert--error {
    background-color: $errorBackground;
    border-color: $errorBorder;
    color: $errorText;
}

// INFO
// ==========================================================================
.alert--info {
    background-color: $infoBackground;
    border-color: $infoBorder;
    color: $infoText;
}


// ==========================================================================
// BLOCK
// ==========================================================================

// Alert Block
//
// A larger alert for multi-line alert messages such as form validation errors...etc. Can be extended using the same modifiers as for standard `.alert`.
//
// Markup:
// <div class="alert-block {$modifiers}">
//   <p>I'm a total block head and here's why:</p>
//   <ul>
//      <li>I like potatoes</li>
//      <li>I like potatoes</li>
//      <li>I like potatoes</li>
//   </ul>
// </div>
//
// Styleguide 7.2

.alert-block {
    @extend .alert;
    padding-top: em(14px);
    padding-bottom: em(14px);
}

.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: em(5px);
}
