// HEADING
//
// Default Heading sizes based on the ancient [Typographic scale](http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography-part-4)
//
// Styleguide 5.


// Base
//
// Note that all heading sizes are aliased via the `.hN` classes. So if you would like your `<h6>` to look like an `<h1>` then simply add the class `.h1`
//
// Markup:
// <h1>Heading Level 1</h1>
// <h2>Heading Level 2</h2>
// <h3>Heading Level 3</h3>
// <h4>Heading Level 4</h4>
// <h5>Heading Level 5</h5>
// <h6>Heading Level 6</h6>
// 
// Styleguide 5.1


h1,.h1 {
	@include rem(font-size, $headingLevel1);
	color: #111;
	margin: 0 0 .5em 0;
  	text-rendering: optimizelegibility; 
}

/* 
	<h2>Heading 2</h2> 
*/
h2,.h2 {
	@include rem(font-size, $headingLevel2);
	color: #222;
	margin: 0 0 .35em 0;
}

/* 
	<h3>Heading 3</h3> 
*/
h3,.h3 {
	@include rem(font-size, $headingLevel3);
	color:#333;
	margin: 0 0 .5em 0;
}

/* 
	<h4>Heading 4</h4> 
*/
h4,.h4 {
	@include rem(font-size, $headingLevel4);
	color:#333;
	margin: 0 0 .5em 0;
}

/* 
	<h5>Heading 5</h5> 
*/
h5,.h5 {
	@include rem(font-size, $headingLevel5);
	color:#444;
	margin: 0 0 .5em 0;
}

/* 
	<h6>Heading 6</h6> 
*/
h6,.h6 {
	@include rem(font-size, $headingLevel6);
	color:#444;
	margin: 0 0 .5em 0;
}