// IMAGE
//
// Base styles/objects. Mostly global, tag-based selector rules.
//
// Styleguide 3.

// ==========================================================================
// BASE
// ==========================================================================

// Base
//
// Default styling of images
//
// Markup:
// <img src="http://www.placehold.it/160x120"  />
//
// Styleguide 3.1

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

// EXCEPTIONS
// ==========================================================================

// We need to revert these for Google maps
.googlemap img,
.map_canvas embed,
.map_canvas img,
.map_canvas object,
.anystretch img,
object,
embed {
    max-width: none;
}

// ==========================================================================
// MODIFIERS
// ==========================================================================

// ROUNDED
// ==========================================================================

// Rounded
//
// Applies slightly rounded edges to element.
//
// Markup:
// <img src="http://www.placehold.it/160x120" class="img-rounded" />
//
// Styleguide 3.2


.img-rounded {
    border-radius: 6px;
}

// POLAROID
// ==========================================================================

// Polaroid
//
// Applies subtle default styling to define the image on the page. Use sparingly.
//
// Markup:
// <img src="http://www.placehold.it/160x120" class="img-polaroid" />
//
// Styleguide 3.3

.img-polaroid {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

// CIRCLE
// ==========================================================================

// Circle
//
// Creates an entirely circular image. Works on images where width === height.
//
// Markup:
// <img src="http://www.placehold.it/160x160" class="img-circle" />
//
// Styleguide 3.4

.img-circle {
    border-radius: 300px;
}