// LINK
//
// Base styles/objects. Mostly global, tag-based selector rules.
//
// Styleguide 1.



// Base
//
// Default styling for all types of list.
//
// Markup:
// <a href="#">Link</a>
//
// Styleguide 1.1


a {
    color: $link-hover-color;
}

a:hover,
a:focus {
    color: $link-hover-color;
}

a:focus {
    outline: thin dotted;
}



// Link Complex
//
// Separation of components within a standard hyperlink.
// 
// Markup:
// <a href="#" class="link-complex"><span class="link-complex__target">Complex Link</span> ></a>
// 
// Styleguide 1.2

.link-complex,
.link-complex:hover,
.link-complex:focus {
    text-decoration: none;

    .link-complex__target {
        text-decoration: underline;
    }
}

// Link Blocky
//
// Links with button-like blockyness but without the button UI styles
// 
// Markup:
// <a href="#" class="link-blocky">Blocky Link</a>
// 
// Styleguide 1.3

.link-blocky {
    @include inline-block;
    margin:0;
    padding: 0 1em;
    border:none;
    line-height:3;
    vertical-align:middle;
    white-space:nowrap;
    font-family:inherit;
    font-size:100%;
    cursor:pointer;
}