// ==========================================================================
// LIST
//
// base and modified list styles
// ==========================================================================

// ==========================================================================
// BASE
// ==========================================================================

ul, ol, dd {
    padding: 0;
    margin: 0 0 $base-line-height $base-line-height;
}

li {
    line-height: $base-line-height;
}

// NESTED
// ==========================================================================

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

// UNORDERED
// ==========================================================================

ul {
    list-style: disc;
}

// ORDERED
// ==========================================================================

ol {
    list-style: decimal;
}


// ==========================================================================
// MODIFIERS
// ==========================================================================

// UNSTYLED
// ==========================================================================

.list-unstyled {
    margin-left: 0;
    list-style: none;
}

// NUMBERED
// ==========================================================================

.list-numbered {
    list-style-type:decimal;
}


// BLOCK
// ==========================================================================

.list-block {
    @extend .list-unstyled;
}

.list-block__link {
    display: block;
    padding: $base-line-height/2;
}