// ==========================================================================
// IMAGE
//
//
// ==========================================================================

// ==========================================================================
// BASE
// ==========================================================================

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

// EXCEPTIONS
// ==========================================================================

// We need to revert these for Google maps
.googlemap img,
.map_canvas embed,
.map_canvas img,
.map_canvas object,
.anystretch img,
object,
embed {
    max-width: none;
}

// ==========================================================================
// MODIFIERS
// ==========================================================================

// ROUNDED
// ==========================================================================

.img--rounded {
    border-radius: 6px;
}

// POLAROID
// ==========================================================================

.img--polaroid {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

// CIRCLE
// ==========================================================================

.img--circle {
    border-radius: 300px;
}