// ==========================================================================
// SHARED
//
//
// ==========================================================================

// ==========================================================================
// TYPO
// ==========================================================================

body {
    font-family: sans-serif;
    @include rem(font-size, $base-font-size);
    line-height: $base-line-height;
    color: #444;
}