@if $use-alerts == true {
// ==========================================================================
//
// ALERT
//
// Description: standard alert styles with variations 
//
// ==========================================================================


// ==========================================================================
// BASE
// ==========================================================================

.alert {
    @include rem(padding, 8px 14px);
    margin-bottom: $spacing-unit;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: $warningBackground;
    border: 1px solid $warningBorder;
    border-radius: 4px;
    color: $warningText;
}

.alert-heading {
    color: inherit;
}

.alert :last-child {
    margin-bottom: 0;
}

// Adjust close link position
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: $spacing-unit;
}

// ==========================================================================
// MODIFIER: SUCCESS
// ==========================================================================

.alert-success,
.alert--success {
    background-color: $successBackground;
    border-color: $successBorder;  
    color: $successText;
}


// ==========================================================================
// MODIFIER: ERROR
// ==========================================================================

.alert--danger,
.alert--error,
.alert-danger,
.alert-error {
    background-color: $errorBackground;
    border-color: $errorBorder;
    color: $errorText;
}


// ==========================================================================
// MODIFIER: INFO
// ==========================================================================

.alert--info,
.alert-info {
    background-color: $infoBackground;
    border-color: $infoBorder;
    color: $infoText;
}


// ==========================================================================
// ALERT BLOCK
// ==========================================================================

.alert-block {
    @include rem(padding-top, 14px);
    @include rem(padding-bottom, 14px);
}
.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}
.alert-block p + p {
    @include rem(padding-top, 5px);
}

}//endif
