@if $use-block-list == true {
// ==========================================================================
//
// BLOCK LIST
//
// Description: vertically stacked blocky lists of content. Ideal for sub 
// navigation or similar. Borrowed from inuit.css
//
// ==========================================================================


// ==========================================================================
// BASE
// ==========================================================================

.block-list,
%block-list {
    @include list-reset;

    li {
        @extend %block-list__item;
    }

    a {
        @extend %block-list__link;
    }
}

.block-list__item,
%block-list__item {
    clear: both;
}

.block-list__link,
%block-list__link {
    display:block;
    padding: $half-spacing-unit/2 0;
}


// ==========================================================================
// MODIFIER: PADDED
// ==========================================================================

.block-list--padded .block-list__link,
.block-list--padded a,
.block-list__link--padded,
a.block-list__link--padded {
    padding-left: $half-spacing-unit;
    padding-right: $half-spacing-unit;
}




// ==========================================================================
// MODIFIER: DASHED
// ==========================================================================


.block-list--dashed,
%block-list--dashed {
    
    .block-list__item,
    %block-list__item--dashed,
    li {
        border-bottom: 1px dashed $blockListBorderColor;
    }
}



// ==========================================================================
// MODIFIER: SOLID
// ==========================================================================

.block-list--solid,
%block-list--solid {
    
    .block-list__item,
    %block-list__item--solid,
    li {
        border-bottom: 1px solid $blockListBorderColor;
    }
}



}//endif