@if $use-headings == true {

// ==========================================================================
// HEADINGS
//
// Description: Based on the ancient Typographic scale:
// http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography-part-4.
// ==========================================================================


// ==========================================================================
// # BASE
// ==========================================================================

@include headings(1,6) {
	margin: 0 0 .5em 0;
}

// ==========================================================================
// # HEADING LEVELS
// ==========================================================================

// # HEADING LEVEL 1
// ==========================================================================

@include headings(1,1) {
	@include rem(font-size,$baseFontSize*2);
	@include rem(line-height,$baseFontSize*2);

	.text-module & {
		@include rem(margin-top,$baseFontSize*2);
	}

	@media (min-width: 43.75em) {
		@include rem(font-size,$baseFontSize*2.5);
		@include rem(line-height,$baseFontSize*2.5);

		.text-module & {
			@include rem(margin-top,$baseFontSize*2.5);
		}
	}

	@media (min-width: 56.25em) {
		@include rem(font-size,$baseFontSize*3);
		@include rem(line-height,$baseFontSize*3);

		.text-module & {
			@include rem(margin-top,$baseFontSize*3);
		}
	}
}

// # HEADING LEVEL 2
// ==========================================================================

@include headings(2,2) {
	@include rem(font-size,$baseFontSize*1.625);
	@include rem(line-height,$baseFontSize*1.625);

	.text-module & {
		@include rem(margin-top,$baseFontSize*1.625);
	}

	@media (min-width: 43.75em) {
		@include rem(font-size,$baseFontSize*2);
		@include rem(line-height,$baseFontSize*2);

		.text-module & {
			@include rem(margin-top,$baseFontSize*2);
		}
	}

	@media (min-width: 56.25em) {
		@include rem(font-size,$baseFontSize*2.25);
		@include rem(line-height,$baseFontSize*2.25);

		.text-module & {
			@include rem(margin-top,$baseFontSize*2.25);
		}
	}
}

// # HEADING LEVEL 3
// ==========================================================================

@include headings(3,3) {
	@include rem(font-size,$baseFontSize*1.375);
	@include rem(line-height,$baseFontSize*1.375);

	.text-module & {
		@include rem(margin-top,$baseFontSize*1.375);
	}

	@media (min-width: 43.75em) {
		@include rem(font-size,$baseFontSize*1.5);
		@include rem(line-height,$baseFontSize*1.5);

		.text-module & {
			@include rem(margin-top,$baseFontSize*1.5);
		}
	}

	@media (min-width: 56.25em) {
		@include rem(font-size,$baseFontSize*1.75);
		@include rem(line-height,$baseFontSize*1.75);

		.text-module & {
			@include rem(margin-top,$baseFontSize*1.75);
		}
	}
}

// # HEADING LEVEL 4
// ==========================================================================

@include headings(4,4) {
	@include rem(font-size,$baseFontSize*1.125);
	@include rem(line-height,$baseFontSize*1.125);

	.text-module & {
		@include rem(margin-top,$baseFontSize*1.125);
	}
}

// # HEADING LEVEL 5
// ==========================================================================

@include headings(5,5) {
	@include rem(font-size,$baseFontSize*1.1);
	@include rem(line-height,$baseFontSize*1.1);

	.text-module & {
		@include rem(margin-top,$baseFontSize*1.1);
	}
}

// # HEADING LEVEL 6
// ==========================================================================

@include headings(6,6) {
	@include rem(font-size,$baseFontSize);
	@include rem(line-height,$baseFontSize);

	.text-module & {
		@include rem(margin-top,$baseFontSize);
	}
}


/* ###Misc Headings */

/* A series of classes for setting massive type; for use in heroes, mastheads, promos, etc. */
/* CSS classes to use are `.giga` (massive!), `.mega` (giant) and `.kilo` (large) */

.giga,
%giga {
    @extend .h1;

    @include respond-to($mobileBreak) {
        font-size: rsize($giga);
    }
}

.mega,
%mega {
    @extend .h1;
    @include respond-to($mobileBreak) {
        font-size: rsize($mega);
    }
}

.kilo,
%kilo {
    @extend .h1;
    @include respond-to($mobileBreak) {
        font-size: rsize($kilo);
    }
}

%heading-small {
	font-weight: normal;
	line-height: 1;
	color: #999;
}

@include headings() {
	small {
		@extend %heading-small;
	}
}

} //endif