@if $use-icons == true {

/* ============================================================ */

// ICONS

// Description: base styles for Iconfonts. Place your icon fonts 
// at "fonts/icons/font" and they will automatically be registered
// with the framework

/* ============================================================ */


// ==========================================================================
// BASE
// ==========================================================================

// REGISTER FONTFACE
// ==========================================================================
@include register-font( $iconFontFamily, "../fonts/icons/fonts");


// ICON DEFAULTS
// ==========================================================================
%icon {
    font-family: $iconFontFamily;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .no-generatedcontent & {
        display: none;
    }
}

.icon {
    @extend %icon;
}

// COLOUR MODIFIERS
// ==========================================================================

%icon--muted {
    color: $muted;
}

.icon--muted,
.icon--gray,
.icon--grey {
    @extend %icon--muted;
}


// ==========================================================================
// SIZING MODIFIERS
// ==========================================================================

%icon--small   { font-size:16px; }
%icon--large   { font-size:32px; }
%icon--huge    { font-size:64px; }
%icon--natural { font-size:inherit; }
%icon--small-alt { font-size: 20px; }
%icon--large-alt { font-size: 40px; }
%icon--huge-alt { font-size: 60px; }

// Based on 32px icon grid
.icon--small   { @extend %icon--small; }
.icon--large   { @extend %icon--large; }
.icon--huge    { @extend %icon--huge; }
.icon--natural { @extend %icon--natural; }

// Based on 24px icon grid
.icon--small-alt { @extend %icon--small-alt; }
.icon--large-alt { @extend %icon--large-alt; }
.icon--huge-alt { @extend %icon--huge-alt; }



// ==========================================================================
// POSITIONING
// ==========================================================================

// INLINE ICON
// creates valigned icon with an appropriate RHS margin to push text away.
// ==========================================================================

%icon--inline,
.icon--inline {
    @include inline-block;
    vertical-align: middle;
    margin-right: 0.2em;
}

// ICON TEXT
// ==========================================================================

%icon-text {
    @include inline-block;
    vertical-align: middle;
}

.icon-text,
.icon--text {
    @extend %icon-text;
}



// ==========================================================================
// DEFAULT ICON CHARACTERS
// ==========================================================================

@if $bIconDefaultChars == true {
    .icon-twitter:before {
        content: "\e600";
    }
    .icon-facebook:before {
        content: "\e601";
    }
    .icon-vimeo:before {
        content: "\e602";
    }
    .icon-linkedin:before {
        content: "\e603";
    }
    .icon-youtube:before {
        content: "\e604";
    }
    .icon-instagram:before {
        content: "\e605";
    }
    .icon-google-plus:before {
        content: "\e606";
    }
    .icon-hamburger:before {
        content: "\e607";
    }
    .icon-cross:before {
        content: "\e608";
    }
}

} //endif
