@if $use-inline-list == true {
/* #Inline List */

/* Creates list for when you just need a horizontal list of links /*

/* ##Base 
	<ul class="inline-list">
	  <li class="inline-list__item"><a href="#">Link 1</a></li>
	  <li class="inline-list__item"><a href="#">Link 2</a></li>
	  <li class="inline-list__item"><a href="#">Link 3</a></li>
	  <li class="inline-list__item"><a href="#">Link 4</a></li>
	  <li class="inline-list__item"><a href="#">Link 5</a></li>
	</ul>
*/

.inline-list,
%inline-list {
	margin: 0 0 $spacing-unit (-$spacing-unit);
	@include clearfix;
	zoom: 1;
}

.inline-list__item,
%inline-list__item,
.inline-list > li {
	float: left;
    list-style: none;
    margin-left: $spacing-unit;
    display: block; 
}

/* ##Divided 
	<ul class="inline-list inline-list--divided">
	  <li class="inline-list__item"><a href="#">Link 1</a></li>
	  <li class="inline-list__item"><a href="#">Link 2</a></li>
	  <li class="inline-list__item"><a href="#">Link 3</a></li>
	  <li class="inline-list__item"><a href="#">Link 4</a></li>
	  <li class="inline-list__item"><a href="#">Link 5</a></li>
	</ul>
*/

.inline-list--divided,
%inline-list--divided {
	margin-left: (-$half-spacing-unit);
	.inline-list__item,
	%inline-list__item--divided,
	> li {
		margin-left: $half-spacing-unit;
		&:after {
			content: "|";
			@include inline-block;
			margin-left: $half-spacing-unit;
		}
	}
}

/* ##Centered 
	<ul class="inline-list inline-list--centered">
	  <li class="inline-list__item"><a href="#">Link 1</a></li>
	  <li class="inline-list__item"><a href="#">Link 2</a></li>
	  <li class="inline-list__item"><a href="#">Link 3</a></li>
	  <li class="inline-list__item"><a href="#">Link 4</a></li>
	  <li class="inline-list__item"><a href="#">Link 5</a></li>
	</ul>
*/

.inline-list--centered,
%inline-list--centered {
    text-align: center;
    letter-spacing: -4px;
    margin-left: 0;

    > li,
    .inline-list__item,
    %inline-list__item--centered {
        float: none;
        letter-spacing: normal;
        @include inline-block;
        margin-left: $half-spacing-unit;
        margin-right: $half-spacing-unit;
    }
}

/* ##Inline Block 
	<ul class="inline-list inline-list--ib">
	  <li class="inline-list__item"><a href="#">Link 1</a></li>
	  <li class="inline-list__item"><a href="#">Link 2</a></li>
	  <li class="inline-list__item"><a href="#">Link 3</a></li>
	  <li class="inline-list__item"><a href="#">Link 4</a></li>
	  <li class="inline-list__item"><a href="#">Link 5</a></li>
	</ul>
*/
.inline-list--ib,
%inline-list--ib {
    letter-spacing: rsize(-4px);

    .inline-list__item,
    %inline-list__item--ib,
    > li {
        @include inline-block;
        vertical-align: middle;
        float: none;
        letter-spacing: normal;
    }
}

/* ##Centered 
	<ul class="inline-list inline-list--spaced">
	  <li class="inline-list__item"><a href="#">Link 1</a></li>
	  <li class="inline-list__item"><a href="#">Link 2</a></li>
	  <li class="inline-list__item"><a href="#">Link 3</a></li>
	  <li class="inline-list__item"><a href="#">Link 4</a></li>
	  <li class="inline-list__item"><a href="#">Link 5</a></li>
	</ul>
*/
.inline-list--spaced,
%inline-list--spaced {
    margin-left: -#{$spacing-unit*2};

    .inline-list__item,
    %inline-list__item--spaced,
    > li {
         margin-left: $spacing-unit*2;
    }
}



.inline-list--contracted,
%inline-list--contracted {
    margin-left: -#{$half-spacing-unit};

    .inline-list__item,
    %inline-list__item--reduced,
    > li {
         margin-left: $half-spacing-unit;
    }
}

.inline-list--reduced,
%inline-list--reduced {
	@extend %inline-list--contracted;
}

}//endif