@if $use-island == true {
/* #Island and Islet */

/* Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object. `@extend` me in your site styles */

/* ##Island */
/*
    <div class="island">
        I am boxed off.
    </div>
*/

// ==========================================================================
// ISLAND
// ==========================================================================
.island,
.islet,
%island,
%islet {
    display: block;
    @extend .clearfix;

    > :last-child,
    > :last-child {
        margin-bottom: 0;
    }
}

.island,
%island {
    padding: $baseLineHeight;
}


// MODIFIER: BOXED
// ==========================================================================
%island--boxed,
.island--boxed {
    background-color: #f2f2f2;
    border: 1px solid #d8d8d8;
}




// ==========================================================================
// ISLET
// ==========================================================================

.islet,
%islet {
    padding: $baseLineHeight/2;
}

// MODIFIER: BOXED
// ==========================================================================
%islet--boxed,
.islet--boxed {
    background-color: #f2f2f2;
    border: 1px solid #d8d8d8;
}

}//endif