@if $use-landmark == true {

// ==========================================================================
// LANDMARK
// 
// Description: used to provide consistent margins between major components
// on a page/template.
// ==========================================================================

// ==========================================================================
// BASE
// ==========================================================================

.landmark,
%landmark {
	margin-bottom: $baseLineHeight*2;
	@include clearfix;
}

.landmark--minor,
%landmark--minor {
	margin-bottom: $baseLineHeight;
	@include clearfix;
}

.landmark--major,
%landmark--major {
	margin-bottom: $baseLineHeight*3;
	@include clearfix;
}



}//endif