@if $use-lead == true {

// ==========================================================================
// LEAD
//
// Description: style to create large summary/leader paragraphs
// ==========================================================================

// ==========================================================================
// BASE
// ==========================================================================

%lead,
.lead {
	font-size: 1.15em;
	line-height: 1.4;
	margin-bottom: $baseLineHeight/2;

	@include respond-to($mobileBreak) {
		font-size: 1.5em;
	}
}

}//endif