
// ==========================================================================
//
// MEDIA BLOCK
//
// Description: Baselayer's take on the classic media object is an image to
// the left, with descriptive content to the right. The content area on the
// right can actually contain any type of content.
//
// Baselayer provides extensions to scope application of media element to
// specific Medium query ranges
//
// ==========================================================================



// ==========================================================================
// MIXINS
// ==========================================================================

@mixin media-block__img {
	float: left;
	margin-right: $spacing-unit;
}

@mixin media-block__img--alt {
	float: right;
	margin-left: $spacing-unit;
	margin-right: 0;
}


@if $use-media-block == true {

// ==========================================================================
// BASE
// ==========================================================================

.media-block,
.media-block .media-block__content {
	overflow:hidden;
	*overflow:visible;
	zoom:1;
}


// ==========================================================================
// MODIFIER: SMALL VIEWPORTS
// ==========================================================================

@include respond-to($break-small) {
	.media-block--small {
		.media-block__img {
			@include media-block__img;
		}

		.media-block__img--alt {
			@include media-block__img--alt;
		}
	}
}

@include respond-to($break-small, null, "max-width") {
	.media-block--small-only {
		.media-block__img {
			@include media-block__img;
		}

		.media-block__img--alt {
			@include media-block__img--alt;
		}
	}
}


// ==========================================================================
// MODIFIER: MEDIUM VIEWPORTS
// ==========================================================================

@include respond-to($break-medium) {
	.media-block--medium {
		.media-block__img {
			@include media-block__img;
		}

		.media-block__img--alt {
			@include media-block__img--alt;
		}
	}
}

@include respond-to($break-medium, null, "max-width") {
	.media-block--medium-only {
		.media-block__img {
			@include media-block__img;
		}

		.media-block__img--alt {
			@include media-block__img--alt;
		}
	}
}


// ==========================================================================
// MODIFIER: LARGE VIEWPORTS
// ==========================================================================


@include respond-to($break-large) {
	.media-block--large {
		.media-block__img {
			@include media-block__img;
		}

		.media-block__img--alt {
			@include media-block__img--alt;
		}
	}
}

@include respond-to($break-large, null, "max-width") {
	.media-block--large-only {
		.media-block__img {
			@include media-block__img;
		}

		.media-block__img--alt {
			@include media-block__img--alt;
		}
	}
}


}//endif